<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--<bean id="controlQyStatisticsJob" class="com.xucg.wedding.admin.job.ControlQyStatisticsJob" />-->

    <!--<bean id="controlQyStatisticsJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject">-->
            <!--<ref bean="controlQyStatisticsJob"/>-->
        <!--</property>-->
        <!--<property name="targetMethod">-->
            <!--<value>execute</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="controlQyStatisticsJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="jobDetail">-->
            <!--<ref bean="controlQyStatisticsJobDetail"/>-->
        <!--</property>-->
        <!--<property name="cronExpression">-->
            <!--<value>0 * 2 * * ?</value>-->
        <!--</property>-->
    <!--</bean>-->


</beans>